accelerate==1.0.1
alembic==1.13.3
annotated-types==0.7.0
anyio==4.6.2.post1
asgiref==3.8.1
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
clip @ https://github.com/openai/CLIP/archive/d50d76daa670286dd6cacf3bcd80b5e4823fc8e1.zip#sha256=b5842c25da441d6c581b53a5c60e0c2127ebafe0f746f8e15561a006c6c3be6a
colorama==0.4.6
comtypes==1.4.8
diffusers==0.30.3
distlib==0.3.9
distro==1.9.0
Django==5.1.2
filelock==3.16.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
fsspec==2024.9.0
ftfy==6.3.1
gunicorn
greenlet==3.1.1
gTTS==2.5.3
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.25.2
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.7.0
Mako==1.3.6
MarkupSafe==2.1.5
mpmath==1.3.0
networkx==3.2.1
numpy==2.1.1
open_clip_torch @ https://github.com/mlfoundations/open_clip/archive/bb6e834e9c70d9c27d0dc3ecedeebeaeb1ffad6b.zip#sha256=a594e737394d4463872151a1e84ab5fa502a4f72686943526b663fa939d786b1
openai==1.54.3
package_name==0.1
packaging==24.1
pillow==10.2.0
platformdirs==4.3.6
protobuf==3.20.0
psutil==6.0.0
PyAudio==0.2.14
pydantic==2.9.2
pydantic_core==2.23.4
pypiwin32==223
python-dotenv==1.0.1
pyttsx3==2.98
pywin32==308
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
safetensors==0.4.5
scipy==1.14.1
sentencepiece==0.2.0
setuptools==75.1.0
sniffio==1.3.1
SpeechRecognition==3.11.0
SQLAlchemy==2.0.35
sqlparse==0.5.1
sympy==1.12
tokenizers==0.20.1
torch==2.4.1+cu118
torchaudio==2.4.1+cu118
torchvision==0.19.1+cu118
tqdm==4.66.5
transformers==4.45.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
virtualenv==20.26.6
wcwidth==0.2.13
Werkzeug==3.0.4
WTForms==3.1.2
zipp==3.20.2
